* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.short {
    position: absolute;
    font-family: 'Audiowide', cursive;
    font-size: 5em;
    position: relative;
    color: white;
}